/* .gold-container{
    background-color: #D3B778;
    height: 70vh;
    margin-top: 135px;
    z-index: -1;
} */

/* .white-container{
    background-color: white;
    width: 230vw;
    height: 50vh;
    border-radius: 20px;
} */


