@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --roboto-font: "Roboto", "arial";
  --averia-font: "Averia Serif Libre", serif;
  --instrument-font: "Instrument Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--roboto-font);
}

.averia-font {
  font-family: "Averia Serif Libre", serif !important;
}

.font-instrument {
  font-family: var(--instrument-font);
}

.pane {
  background-color: #ffffff;
  opacity: 0.1;
  background-image: 
    linear-gradient(135deg, #444cf755 25%, transparent 25%),
    linear-gradient(225deg, #444cf7 25%, transparent 25%),
    linear-gradient(315deg, #444cf755 25%, transparent 25%),
    linear-gradient(45deg, #444cf7 25%, #ffffff 25%);
  background-size: 200px 200px;
  background-position: -100px 0, -100px 0, 0px 0, 0px 0;
  animation: zigzagMove 20s linear infinite;
}

@keyframes zigzagMove {
  0% {
    background-position: -100px 0, -100px 0, 0px 0, 0px 0;
  }
  100% {
    background-position: 100px 0, 100px 0, 200px 0, 200px 0;
  }
}

.cloud3d {
  position: absolute;
  background: #444cf755;
  border-radius: 50%;
  opacity: 0.8;
  filter: blur(20px);
}


.cloud3d::before,
.cloud3d::after {
  content: '';
  position: absolute;
  background: #444cf755;
  border-radius: 50%;
  filter: blur(20px);
}

.cloud1 {
  width: 300px;
  height: 100px;
  top: 15%;
  left: -400px;
  animation: moveClouds 10s linear infinite;
}

.cloud2 {
  width: 400px;
  height: 120px;
  top: 40%;
  left: -600px;
  animation: moveCloudsReverse 15s linear infinite;
  opacity: 0.7;
  transform: scale(1.1);
}

.cloud3 {
  width: 350px;
  height: 100px;
  top: 65%;
  left: -500px;
  animation: moveClouds 17s linear infinite;
  opacity: 0.6;
  transform: scale(0.9);
}

.cloud4 {
  width: 450px;
  height: 150px;
  top: 25%;
  left: -700px;
  animation: moveCloudsReverse 18s linear infinite;
  opacity: 0.6;
  transform: scale(1.05);
}

.cloud6 {
  width: 500px;
  height: 160px;
  top: 55%;
  left: -800px;
  animation: moveClouds 20s linear infinite;
  opacity: 0.5;
  transform: scale(1.2);
}

.cloud1::before {
  width: 200px;
  height: 200px;
  top: -50px;
  left: 100px;
}
.cloud1::after {
  width: 250px;
  height: 150px;
  top: -30px;
  left: 200px;
}

.cloud2::before {
  width: 250px;
  height: 180px;
  top: -30px;
  left: 150px;
}
.cloud2::after {
  width: 300px;
  height: 160px;
  top: -40px;
  left: 300px;
}

.cloud3::before {
  width: 200px;
  height: 140px;
  top: -20px;
  left: 120px;
}
.cloud3::after {
  width: 280px;
  height: 160px;
  top: -30px;
  left: 250px;
}

.cloud4::before {
  width: 300px;
  height: 200px;
  top: -40px;
  left: 160px;
}
.cloud4::after {
  width: 350px;
  height: 180px;
  top: -30px;
  left: 320px;
}

.cloud6::before {
  width: 320px;
  height: 220px;
  top: -50px;
  left: 170px;
}
.cloud6::after {
  width: 370px;
  height: 200px;
  top: -40px;
  left: 340px;
}


@keyframes moveClouds {
  0% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(50vw) scale(1.05);
  }
  100% {
    transform: translateX(120vw) scale(1);
  }
}

@keyframes moveCloudsReverse {
  0% {
    transform: translateX(120vw) scale(1);
  }
  50% {
    transform: translateX(50vw) scale(1.05);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
